In [1]:
import pandas as p
data_juegos = p.read_csv("juegos-ml.csv")

In [7]:
X = data_juegos.drop(columns=["juegos"])
X

    edad  genero
0      8       0
1     11       0
2     12       0
3     13       0
4     15       0
5     18       0
6     22       0
7     25       0
8     28       0
9     31       0
10    32       0
11    35       0
12    10       1
13    13       1
14    14       1
15    15       1
16    18       1
17    19       1
18    22       1
19    25       1